<!DOCTYPE html>
<html>
<head>
	<title>RESET PASSWORD</title>
</head>

<div class="basic" >
		{% include "header.html" %}
	</div>


<body>
	<form method="POST" action="passwordreset">
		{%csrf_token%}
		<p>UserName<input type="text" name="uname"></p><br>
		<p>Email<input type="text" name="email"></p><br>
		<p><label>New Password</label><input type="password" name="password"></p>
		<input type="submit" value="Send">
		{{errmsg}}
		<p><a href="{% url 'login'%}"><i>Login</i></a></p>
	</form>
</body>
</html>